{
  "extends": ["airbnb-typescript/base", "prettier", "prettier/@typescript-eslint"],
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".ts"]
      }
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "jest", "import"],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "consistent-return": "off"
  },
  "overrides": [
    {
      "files": ["src/**/*.test.{js,ts}"],
      "env": {
        "jest": true
      },
      "extends": ["plugin:jest/recommended"],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    }
  ]
}
